html * {
      color-profile: sRGB;
      rendering-intent: auto;
}
.cm-s-rythm-web-light,.cm-s-rythm-web {
    font-family: "Source Code Pro Semibold","Envy Code R",Consolas, Monaco, Menlo, 'Courier New', monospace;
    font-size: 10pt;
    line-height: 20px;
 }
.cm-s-rythm-web-light .CodeMirror-gutters,.cm-s-rythm-web .CodeMirror-gutters {
    background-color: #000;
 }
.cm-s-rythm-web-light.CodeMirror pre,.CodeMirror.cm-s-rythm-web pre {
     color: #bbb;
}
.cm-s-rythm-web-light {
      background-color: #fdf6e3;
      color: #657b83;
}
.cm-s-rythm-web-light .emphasis {
      font-weight: bold;
}
.cm-s-rythm-web-light .dotted {
      border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web-light .CodeMirror-gutter {
      background-color: #073642;
      border-right: 3px solid #eee8d5;
}
.cm-s-rythm-web-light .CodeMirror-gutter .CodeMirror-gutter-text {
      color: #93a1a1;
}
.cm-s-rythm-web-light .CodeMirror-cursor {
      border-left-color: #002b36 !important;
}
.cm-s-rythm-web-light .CodeMirror-matchingbracket {
      color: #002b36;
      background-color: #eee8d5;
      box-shadow: 0 0 10px #eee8d5;
      font-weight: bold;
}
.cm-s-rythm-web-light .CodeMirror-nonmatchingbracket {
      color: #002b36;
      background-color: #eee8d5;
      box-shadow: 0 0 10px #eee8d5;
      font-weight: bold;
      color: #dc322f;
      border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web-light span.cm-builtin {
      color: #E09543;
      font-weight: bold;
}
.cm-s-rythm-web-light span.cm-keyword {
      color: #657b83;
      font-weight: bold;
}
.cm-s-rythm-web-light span.cm-atom {
      color: #2aa198;
}
.cm-s-rythm-web-light span.cm-number {
      color: #586e75;
}
.cm-s-rythm-web-light span.cm-def {
      color: #268bd2;
}
.cm-s-rythm-web-light span.cm-variable {
      color: #cb4b16;
}
.cm-s-rythm-web-light span.cm-variable-2 {
      color: #cb4b16;
}
.cm-s-rythm-web-light span.cm-variable-3 {
      color: #cb4b16;
}
.cm-s-rythm-web-light span.cm-comment {
      color: rgb(189, 209, 183);
}
.cm-s-rythm-web-light span.cm-property {
      color: #b58900;
}
.cm-s-rythm-web-light span.cm-operator {
      color: #657b83;
}
.cm-s-rythm-web-light span.cm-string {
      color: #6c71c4;
}
.cm-s-rythm-web-light span.cm-error {
      font-weight: bold;
        border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web-light span.cm-bracket {
      color: #cb4b16;
}
.cm-s-rythm-web-light span.cm-tag {
      color: #657b83;
}
.cm-s-rythm-web-light span.cm-attribute {
      color: #586e75;
      font-weight: bold;
}
.cm-s-rythm-web-light span.cm-meta {
      color: #268bd2;
}
.cm-s-rythm-web {
      background-color: #000;
      color: #839496;
}
.cm-s-rythm-web .emphasis {
      font-weight: bold;
}
.cm-s-rythm-web .dotted {
      border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web .CodeMirror-gutter {
      background-color: #000;
      border-right: 3px solid #000;
}
.cm-s-rythm-web .CodeMirror-gutter .CodeMirror-gutter-text {
      color: #586e75;
}
.cm-s-rythm-web .CodeMirror-cursor {
      border-left-color: #fdf6e3 !important;
}
.cm-s-rythm-web .CodeMirror-matchingbracket {
      color: #fdf6e3;
      background-color: #073642;
      box-shadow: 0 0 10px #073642;
      font-weight: bold;
}
.cm-s-rythm-web .CodeMirror-nonmatchingbracket {
      color: #fdf6e3;
      background-color: #073642;
      box-shadow: 0 0 10px #073642;
      font-weight: bold;
      color: #dc322f;
      border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web span.cm-builtin {
      color: #E09543;
      font-weight: bold;
}
.cm-s-rythm-web span.cm-keyword {
      color: #839496;
      font-weight: bold;
}
.cm-s-rythm-web span.cm-atom {
      color: #2aa198;
}
.cm-s-rythm-web span.cm-number {
      color: #93a1a1;
}
.cm-s-rythm-web span.cm-def {
      color: #268bd2;
}
.cm-s-rythm-web span.cm-variable {
      color: #F1F2F3;
}
.cm-s-rythm-web span.cm-variable-2 {
      color: #cb4b16;
}
.cm-s-rythm-web span.cm-variable-3 {
      color: #cb4b16;
}
.cm-s-rythm-web span.cm-comment {
      color: rgb(189, 209, 183);
}
.cm-s-rythm-web span.cm-property {
      color: #b58900;
}
.cm-s-rythm-web span.cm-operator {
      color: #8AC763;
}
.cm-s-rythm-web span.cm-string {
      color: #EC7600;
}
.cm-s-rythm-web span.cm-error {
      font-weight: bold;
        border-bottom: 1px dotted #cb4b16;
}
.cm-s-rythm-web span.cm-bracket {
      color: #cb4b16;
}
.cm-s-rythm-web span.cm-tag {
      color: #839496;
}
.cm-s-rythm-web span.cm-attribute {
      color: #93a1a1;
        font-weight: bold;
}
.cm-s-rythm-web span.cm-meta {
      color: #268bd2;
}
