<div class="modal-header">
    <button class="close" ng-click="close()">&times;</button>
    <h3>Rythm Fiddle</h3>
</div>
<div class="modal-body">
    <p>Rythm Fiddle is created by <a href="http://github.com/freewind">Freewind</a>
        and <a href="http://github.com/greenlaw110">Green</a></p>

    <p>Fork me: <a href="https://github.com/freewind/rythmfiddle">https://github.com/freewind/rythmfiddle</a></p>

    <p>License: Apache 2</p>
</div>
<div class="modal-footer">
    <a class="btn" ng-click="close()">Close</a>
</div>