<div class="modal-header">
    <button class="close" ng-click="close()">&times;</button>
    <h3>Rythm Fiddle</h3>
</div>
<div class="modal-body">
    <p><b>Rythm Fiddle</b> is brought to you by <a href="http://github.com/freewind">Freewind</a>
        and <a href="http://github.com/greenlaw110">Green</a></p>

    <p>Fork me: <a href="https://github.com/freewind/rythmfiddle">https://github.com/freewind/rythmfiddle</a></p>

    <p>License: <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2</a></p>
    
    <p>Shortcut keys</p>
    <ul>
        <li><b>Ctrl-Enter</b>: Run the fiddle (Only in editors)</li>
        <li><b>F2</b>: Rename current source file (Global)</li>
        <li><b>Escape</b>: Cancel source file rename (Only in rename input text element)</li>
        <li><b>Ctrl-Alt-T</b>: Toggle focus between source editor and param editor (Only in editors)</li>
        <li><b>Ctrl-Alt-T</b>: Focus source editor (focus is not in editors</li>
        <li><b>Alt-1 ~ 9</b>: Select the nth template source file</li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn" ng-click="close()">Close</a>
</div>