<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2" id="LEFT_PANEL">

            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span ng-show="currentCode.desc">{{currentCode.desc}}</span>
                        <span ng-hide="currentCode.desc">Import Demo</span>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="code in codes|orderBy:'desc'" ng-class="{active: code.id==currentCode.id}">
                            <a ng-href="/editor/{{code.id}}">{{code.desc}}</a></li>
                    </ul>
                </div>
                <!-- /btn-group -->
            </div>

            <div class="btn-toolbar">
                <button class="btn" ng-href="/editor" ng-show="current">New</button>
                <button class="btn" ng-click="removeCurrentCode()" ng-show="current && currentCode.id">
                    Delete Cur. Demo
                </button>
            </div>

            <hr/>

            <div><h5>Templates:</h5></div>
            <ul>
                <li ng-repeat="file in currentCode.files" ng-class="{file_active: file==currentFile}"
                    ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                    <span ng-show="file.editing">
                        <input type="text" class="input input-small" ng-model="file.editName"/>
                        <button class="btn btn-small" ng-click="saveFileName(file)"><i class="icon-ok"></i></button>
                        <button class="btn btn-small" ng-click="cancelEditFileName(file)"><i class="icon-remove"></i>
                        </button>
                    </span>
                    <span ng-hide="file.editing">
                        <a href="#" ng-click="switchFile(file)">{{file.filename}}</a>
                        <i class="icon-heart" ng-show="file.isMain" style="color: #da4f49" title="This is entry template"> </i>
                    </span>
                    <span ng-hide="file.editing || !hover">
                        <button ng-hide="file.isMain" class="btn btn-small" ng-click="setMain(file)" title="Make this file as entry">
                            <i class="icon-heart"></i>
                        </button>
                        <button class="btn btn-small" ng-click="editFileName(file)" title="edit">
                            <i class="icon-edit"></i>
                        </button>
                        <button class="btn btn-small" ng-click="removeFile(file)" title="remove">
                            <i class="icon-remove"></i>
                        </button>
                    </span>
                </li>
            </ul>
            <button class="btn btn-small" ng-click="newFile()">
                <i class="icon-plus"> </i>
                &nbsp;&nbsp;New file ...
            </button>
        </div>
        <div class="span6" id="EDITOR_PANEL">
            <form name="editorForm">
                <div class="source">
                    <h4>Template [{{currentFile.filename}}]</h4>
                    <textarea ui-codemirror="{theme:'lesser-dark','lineNumbers': true}"
                              style="height:400px;width:100%" name="codeSource"
                              ng-model="currentFile.source" ui-keypress="{'ctrl-enter':'run($event)'}"> ></textarea>
                </div>
            </form>
            <div class="alert alert-info">Note: you can use
                <code>String</code>,<code>Integer</code>,<code>Boolean</code> and most other JDK classes as argument
                types
            </div>
        </div>
        <div class="span4" id="RESULT_PANEL">
            <div>
                <div>Params (in JSON format)</div>
                <div class="params">
                    <textarea ui-codemirror="{theme:'lesser-dark'}" ng-model="currentCode.params" style="height:100px;width:100%" placeholder="Params in Json format"></textarea>
                </div>
                <div class="btn-toolbar">
                    <button class="btn" ng-click="run()" ng-class="{'btn-primary':editorForm.codeSource.$dirty}">
                        Run
                    </button>
                    <button class="btn" ng-show="current" ng-click="save()"
                            ng-class="{'btn-primary':editorForm.codeSource.$dirty}">
                        Save
                    </button>
                </div>
            </div>
            <div ng-show="result.error">
                <pre class="template_error">{{result.error}}</pre>
            </div>
            <div ng-hide="result.error">
                <pre>{{result.renderedCode}}</pre>
            </div>
        </div>
    </div>
</div>



