<form name="editorForm">
    <div class="source">
        <div class="pull-right toolbar">
            <span ng-hide="toRun">
                <span class="btn" title="Add new template" ng-click="newFile()">
                    <i class="icon-plus"></i>
                </span>
                <span class="btn" title="Rename current template" ng-click="editFileName(getActiveFile())">
                    <i class="icon-edit"></i>
                </span>
                <span class="btn" title="Delete current template" ng-click="removeFile(getActiveFile())">
                    <i class="icon-remove"></i>
                </span>
                <span class="btn" title="Set current template as main entry" ng-click="setMain(getActiveFile())"
                      ng-hide="getActiveFile().isMain">
                    <i class="icon-heart"></i>
                </span>
            </span>
            <span ng-show="toRun" class="btn pull-right" ng-click="run()">
                <i class="icon-play"></i>&nbsp;&nbsp;Run again
            </span>
        </div>
        <tabs>
            <pane ng-repeat="file in currentCode.files" active="file.active"
                  heading="{{ file.filename || '...' }} {{file.isMain && '(*)' || '' }}">
                <div ng-show="file.editing">
                    <form>
                        <input type="text" class="input input-small" ng-model="file.editName" autofocus="{{file.editing}}"/>
                        <button class="btn btn-small" ng-click="saveFileName(file)"><i class="icon-ok"></i>
                        </button>
                        <span class="btn btn-small" ng-click="cancelEditFileName(file)">
                            <i class="icon-remove"></i>
                        </span>
                    </form>
                </div>
                <textarea ui-codemirror="{theme:'lesser-dark','lineNumbers': true}"
                          style="height:200px;width:100%" name="codeSource" ui-refresh="file.active"
                          ng-model="file.source" ui-keypress="{'ctrl-enter':'run($event)'}"
                        ></textarea>
            </pane>
            <pane heading="Result" active="$parent.toRun">
                <div ng-show="result.error">
                    <pre class="template_error">{{result.error}}</pre>
                </div>
                <div ng-hide="result.error">
                    <pre>{{result.renderedCode}}</pre>
                </div>
            </pane>
        </tabs>
    </div>
</form>
<form name="paramsForm" title="type in JSON parameter here" ng-hide="toRun">
    <div class="params">
        <textarea ui-codemirror="{theme:'lesser-dark'}" name="codeParams" ng-model="currentCode.params"
                  placeholder="Params in Json format"></textarea>
    </div>
</form>
<div class="alert alert-info">Note: you can use
    <code>String</code>,<code>Integer</code>,<code>Boolean</code> and most other JDK classes as argument
    types
</div>