<div>
    <form class="form-horizontal" ng-submit="submit()">
        <div class="control-group">
            <label class="control-label">Username:</label>
            <div class="controls">
                <input type="text" ng-model="username"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password:</label>
            <div class="controls">
                <input type="text" ng-model="password"/>
            </div>
        </div>
        <!--
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="remember"> Remember me
                </label>
            </div>
        </div>
        -->
        <div class="control-group">
            <div class="controls">
                <input class="btn" type="submit" value="Login"/>
            </div>
        </div>
    </form>
</div>