<div class="modal-header"><h3>Save Code</h3></div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Brief description: </label>
            <div class="controls">
                <input type="text" ng-model="code.desc" ui-keypress="{'esc':'save()'}"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="code.showInMenu"/> Display in the quick access dropdown list
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <span class="pull-left">
        <label class="checkbox">
            <input type="checkbox" ng-model="saveAsNew"/> Save as new demo
        </label>
    </span>
    <a class="btn btn-primary" ng-click="save()">Submit</a>
    <a class="btn" ng-click="close()">Close</a>
</div>
